<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please create an account!</h1>
    <fieldset>
        <p>You have visited the page: {{ request.session.count }} time(s).</p>
    </fieldset>
    <form action="/register" method="post">
        {% csrf_token %}
        <p>Name: <input type="text" name="name" placeholder="Your Name" /></p>
        <p>Email: <input type="text" name="email" placeholder="Your Email" /></p>
        <p>Password: <input type="password" name="password" placeholder="Enter password" /></p>
        <p>Confirm Password: <input type="password" name="confirm" placeholder="Confirm password" /></p>
        <input type="submit" value="Create Account" />
    </form>
    <!-- {{ request.session.user }} -->
</body>
</html>