<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for registering an account!</h1>
    <fieldset>
        <legend>Account details</legend>
        <ul>
            <li>Name: {{ request.session.user.name }}</li>
            <li>Email: {{ request.session.user.email }}</li>
            <li>Password: {{ request.session.user.password }}</li>
        </ul>
    </fieldset>
    <a href="/clear">Go Back</a>
</body>
</html>